body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    position: relative;
  }
  .footer {
    position: absolute;
    top: 4914px;
    left: calc(50% - 262px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 65px 0;
    gap: var(--gap-31xl);
    text-align: center;
    font-size: var(--body-size);
  }
  .wrapper-vector-15-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.01);
  }
  .title3,
  .wrapper-vector-15 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper-vector-15 {
    position: absolute;
    top: 4036.77px;
    left: -2.75px;
    width: 750.41px;
    height: 497.24px;
  }
  .title3 {
    border-radius: 100px;
    background-color: #e6e6e6;
    flex-shrink: 0;
    flex-direction: row;
    padding: 8px 22px;
  }
  .div,
  .div1 {
    position: absolute;
    top: 61px;
    left: 24.5px;
  }
  .div1 {
    top: -12px;
    left: 23.5px;
  }
  .div2 {
    top: 137px;
    left: 26.5px;
  }
  .div2,
  .div3,
  .div4 {
    position: absolute;
  }
  .div3 {
    top: 213px;
    left: calc(50% + 5px);
  }
  .div4 {
    top: 286px;
    left: 35.5px;
  }
  .text1 {
    position: relative;
    width: 61px;
    height: 301px;
    flex-shrink: 0;
  }
  .graph-icon {
    position: relative;
    width: 1022px;
    height: 300px;
    object-fit: cover;
  }
  .chart {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .feb,
  .jan {
    position: absolute;
    top: 0;
    left: 118.5px;
  }
  .feb {
    left: 274.5px;
  }
  .apr,
  .jul,
  .jun,
  .mar,
  .mei {
    position: absolute;
    top: 0;
    left: 424.5px;
  }
  .apr,
  .jul,
  .jun,
  .mei {
    left: 568.5px;
  }
  .jul,
  .jun,
  .mei {
    left: 724.5px;
  }
  .jul,
  .jun {
    left: 866.5px;
  }
  .jul {
    left: 1028.5px;
  }
  .text2 {
    align-self: stretch;
    position: relative;
    height: 23px;
    flex-shrink: 0;
  }
  .container,
  .graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .graph {
    flex-shrink: 0;
    gap: var(--gap-base);
    font-size: var(--notes-size);
  }
  .container {
    position: absolute;
    top: 440px;
    left: 140.5px;
    border-radius: 35px;
    background-color: var(--color-white);
    box-shadow: 0 33px 80px rgba(0, 0, 0, 0.07),
      0 16.51611328125px 40.04px rgba(0, 0, 0, 0.05),
      0 9.94853401184082px 24.12px rgba(0, 0, 0, 0.05),
      0 6.375542163848877px 15.46px rgba(0, 0, 0, 0.04),
      0 4.1321120262146px 10.02px rgba(0, 0, 0, 0.04),
      0 2.6011178493499756px 6.31px rgba(0, 0, 0, 0.03),
      0 1.4945039749145508px 3.62px rgba(0, 0, 0, 0.02),
      0 0.6577699184417725px 1.59px rgba(0, 0, 0, 0.02);
    padding: var(--padding-17xl) 66px;
    gap: var(--gap-37xl);
  }
  .b,
  .div5 {
    position: relative;
    font-size: var(--title-size);
  }
  .div5 {
    font-size: var(--body-size);
    font-weight: 500;
  }
  .percentage1 {
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    box-shadow: 0 33px 80px rgba(0, 0, 0, 0.07),
      0 16.51611328125px 40.04px rgba(0, 0, 0, 0.05),
      0 9.94853401184082px 24.12px rgba(0, 0, 0, 0.05),
      0 6.375542163848877px 15.46px rgba(0, 0, 0, 0.04),
      0 4.1321120262146px 10.02px rgba(0, 0, 0, 0.04),
      0 2.6011178493499756px 6.31px rgba(0, 0, 0, 0.03),
      0 1.4945039749145508px 3.62px rgba(0, 0, 0, 0.02),
      0 0.6577699184417725px 1.59px rgba(0, 0, 0, 0.02);
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-base) var(--padding-141xl) var(--padding-base)
      var(--padding-7xl);
    gap: var(--gap-3xs);
  }
  .percentage,
  .percentage1,
  .percentage2 {
    display: flex;
    align-items: flex-start;
  }
  .percentage2 {
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    box-shadow: 0 33px 80px rgba(0, 0, 0, 0.07),
      0 16.51611328125px 40.04px rgba(0, 0, 0, 0.05),
      0 9.94853401184082px 24.12px rgba(0, 0, 0, 0.05),
      0 6.375542163848877px 15.46px rgba(0, 0, 0, 0.04),
      0 4.1321120262146px 10.02px rgba(0, 0, 0, 0.04),
      0 2.6011178493499756px 6.31px rgba(0, 0, 0, 0.03),
      0 1.4945039749145508px 3.62px rgba(0, 0, 0, 0.02),
      0 0.6577699184417725px 1.59px rgba(0, 0, 0, 0.02);
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-base) 120px var(--padding-base) var(--padding-7xl);
    gap: var(--gap-3xs);
  }
  .percentage {
    position: absolute;
    top: 245px;
    left: 281px;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-31xl);
    font-size: var(--notes-size);
  }
  .kesehatan-bayi-di {
    position: relative;
    font-size: var(--notes-size);
  }
  .title5 {
    position: absolute;
    top: 110px;
    left: 594.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
    font-size: var(--title-size);
  }
  .wrapper-vector-16-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.127);
  }
  .wrapper-vector-16 {
    position: absolute;
    top: 36.63px;
    left: 311.03px;
    width: 39.35px;
    height: 48.01px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .analisis {
    position: absolute;
    top: 3932px;
    left: 0;
    width: 1512px;
    height: 1140px;
    overflow: hidden;
    font-size: var(--bodytitle-size);
  }
  .begini-kata-mereka {
    position: relative;
    font-size: var(--notes-size);
    text-align: left;
  }
  .body,
  .title6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .title6 {
    align-items: flex-start;
    gap: var(--gap-xl);
  }
  .body {
    position: absolute;
    top: 375px;
    left: calc(50% - 636px);
    border-radius: var(--br-11xl);
    background-color: var(--secondary);
    width: 1273px;
    overflow: hidden;
    align-items: flex-end;
    padding: 80px;
    box-sizing: border-box;
    text-align: right;
    font-size: var(--title-size);
    color: var(--color-white);
    font-family: var(--bodytitle);
  }
  .avatar-icon,
  .title7 {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .avatar-icon {
    border-radius: 56.24px;
    width: 56.24px;
    height: 56.24px;
    object-fit: cover;
  }
  .title7 {
    align-self: stretch;
    line-height: 35.15px;
    font-weight: 500;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 35.15px;
  }
  .avatar,
  .title-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .avatar {
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    gap: 14.06px;
  }
  .user-child {
    position: relative;
    width: 102.41px;
    height: 17.24px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .user {
    width: 374.38px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7.03px;
  }
  .b3,
  .pelayananya-sangat-memuaskan {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 408px;
  }
  .pelayananya-sangat-memuaskan {
    top: 84px;
    font-size: var(--body-size);
    color: var(--color-black);
  }
  .text {
    position: relative;
    width: 408px;
    height: 177px;
    font-size: var(--font-size-105xl);
    color: var(--other);
    font-family: var(--bodytitle);
  }
  .user-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .ibu-rumah-tangga {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-8xl);
  }
  .ibu-rumah-tangga-container {
    align-self: stretch;
    position: relative;
    font-size: var(--notes-size);
    font-family: var(--bodytitle);
    text-align: right;
  }
  .review1,
  .review2,
  .review21 {
    position: absolute;
    top: calc(50% - 165px);
    left: 302px;
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    box-shadow: 0 27px 80px rgba(0, 0, 0, 0.07),
      0 11.27995491027832px 33.42px rgba(0, 0, 0, 0.05),
      0 6.030803203582764px 17.87px rgba(0, 0, 0, 0.04),
      0 3.380819082260132px 10.02px rgba(0, 0, 0, 0.04),
      0 1.7955275774002075px 5.32px rgba(0, 0, 0, 0.03),
      0 0.7471592426300049px 2.21px rgba(0, 0, 0, 0.02);
    width: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-37xl) var(--padding-27xl);
    box-sizing: border-box;
    gap: var(--gap-37xl);
  }
  .review1,
  .review21 {
    top: calc(50% - 199px);
    left: 261px;
  }
  .review1 {
    top: calc(50% - 241.12px);
    left: 224px;
  }
  .wrapper-vector-11-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.081);
  }
  .wrapper-vector-11 {
    position: absolute;
    top: 182.54px;
    left: 134.61px;
    width: 79.72px;
    height: 61.78px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper-vector-12-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.181);
  }
  .wrapper-vector-12 {
    position: absolute;
    top: 148.27px;
    left: 97.12px;
    width: 27.65px;
    height: 29.89px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper-vector-13-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.055);
  }
  .wrapper-vector-13 {
    position: absolute;
    top: 213.24px;
    left: 167px;
    width: 102.86px;
    height: 90.66px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ulasan {
    position: absolute;
    top: 2947px;
    left: 0;
    width: 1512px;
    height: 982px;
    overflow: hidden;
    font-size: 24.61px;
    font-family: var(--font-roboto);
  }
  .wrapper-vector-6-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.033);
  }
  .wrapper-vector-6 {
    position: absolute;
    top: 337px;
    left: 80px;
    width: 152px;
    height: 157px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vector-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 96px;
    transform: scale(2.693);
  }
  .title10,
  .wrapper-vector {
    position: absolute;
    display: flex;
  }
  .wrapper-vector {
    top: 0;
    left: 0;
    width: 1100px;
    height: 500px;
    align-items: center;
    justify-content: left;
  }
  .title10 {
    top: 274px;
    left: 212px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .about1 {
    position: relative;
    width: 636.34px;
    height: 590.71px;
  }
  .visi-kami {
    position: relative;
    font-weight: 600;
  }
  .lorem-ipsum-dolor {
    margin: 0;
  }
  .content2 {
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    box-shadow: 0 33px 80px rgba(0, 0, 0, 0.07),
      0 13.786611557006836px 33.42px rgba(0, 0, 0, 0.05),
      0 7.3709821701049805px 17.87px rgba(0, 0, 0, 0.04),
      0 4.1321120262146px 10.02px rgba(0, 0, 0, 0.04),
      0 2.194533586502075px 5.32px rgba(0, 0, 0, 0.03),
      0 0.9131946563720703px 2.21px rgba(0, 0, 0, 0.02);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-7xl) var(--padding-17xl);
    gap: var(--gap-7xs);
  }
  .content,
  .content1,
  .content2 {
    display: flex;
    justify-content: flex-start;
  }
  .content1 {
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-37xl);
    font-size: var(--bodytitle-size);
    color: var(--color-black);
  }
  .content {
    position: absolute;
    top: calc(50% - 251px);
    left: calc(50% - 673px);
    flex-direction: row;
    align-items: center;
    gap: 165px;
  }
  .wrapper-vector-8-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.22);
  }
  .wrapper-vector-8 {
    position: absolute;
    top: 340px;
    left: 580px;
    width: 27.33px;
    height: 22.7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-child {
    position: absolute;
    top: 242.58px;
    left: 393.31px;
    width: 179.39px;
    height: 90.85px;
    object-fit: contain;
  }
  .about {
    position: absolute;
    top: 1965px;
    left: 0;
    background-color: #fcfcfc;
    box-shadow: 0-16px 26px rgba(0, 0, 0, 0.07) inset,
      0 16px 26px rgba(0, 0, 0, 0.07) inset;
    width: 1512px;
    height: 982px;
    overflow: hidden;
    color: var(--color-white);
  }
  .flower-1-icon,
  .flower-2-icon {
    position: absolute;
    top: 1570px;
    left: -184px;
    width: 368px;
    height: 368px;
    object-fit: cover;
  }
  .flower-2-icon {
    top: 803px;
    left: 1230px;
    width: 141px;
    height: 141px;
  }
  .layanan-kami {
    position: absolute;
    top: 1084px;
    left: calc(50% - 121px);
  }
  .bunda-wrapper,
  .title11 {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .bunda-wrapper {
    border-radius: var(--br-base);
    background-color: var(--color-pink);
    padding: var(--padding-7xs) var(--padding-xs);
  }
  .title11 {
    gap: var(--gap-6xs);
  }
  .chat-dokter-kunjungi {
    position: relative;
    font-size: var(--body-size);
    font-weight: 500;
    display: inline-block;
    width: 554px;
  }
  .button,
  .button1 {
    border-radius: var(--br-11xl);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-6xl) var(--padding-51xl);
    cursor: pointer;
  }
  .button {
    background: linear-gradient(-74.09deg, #df5d8c, #ffcade);
  }
  .button1 {
    background: linear-gradient(-74.5deg, #94bce1, #bde0fe);
  }
  .button-parent,
  .intro {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-parent {
    flex-direction: row;
    gap: 40px;
    color: var(--color-white);
  }
  .intro {
    flex-direction: column;
    gap: 46px;
  }
  .img-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.008);
  }
  .content5,
  .wrapper-img {
    display: flex;
    align-items: center;
  }
  .wrapper-img {
    position: relative;
    width: 663.31px;
    height: 713.66px;
    justify-content: center;
  }
  .content5 {
    position: absolute;
    top: 201px;
    left: 112px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 80px;
  }
  .wrapper-vector-14-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.017);
  }
  .wrapper-vector-14 {
    position: absolute;
    top: 1553px;
    left: 1125px;
    width: 451.18px;
    height: 290.43px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-child {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-29xl);
    max-width: 100%;
    overflow: hidden;
    height: 244px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .product {
    border-radius: var(--br-41xl);
    background-color: var(--color-white);
    box-shadow: 0 27px 80px rgba(0, 0, 0, 0.07),
      0 13.51318359375px 40.04px rgba(0, 0, 0, 0.05),
      0 8.13970947265625px 24.12px rgba(0, 0, 0, 0.05),
      0 5.216352462768555px 15.46px rgba(0, 0, 0, 0.04),
      0 3.380819082260132px 10.02px rgba(0, 0, 0, 0.04),
      0 2.128187417984009px 6.31px rgba(0, 0, 0, 0.03),
      0 1.222775936126709px 3.62px rgba(0, 0, 0, 0.02),
      0 0.5381754040718079px 1.59px rgba(0, 0, 0, 0.02);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-7xl) var(--padding-17xl);
    gap: var(--gap-17xl);
    cursor: pointer;
  }
  .konsultasi-dengan-dokter-container {
    align-self: stretch;
    position: relative;
    font-size: var(--notes-size);
    text-align: center;
  }
  .product-all {
    position: absolute;
    top: 1257px;
    left: calc(50% - 650px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-37xl);
    font-size: var(--bodytitle-size);
  }
  .home {
    position: absolute;
    top: 0;
    left: 0;
    width: 1512px;
    height: 1964px;
    overflow: hidden;
  }
  .daisy-1-icon {
    position: absolute;
    top: 3675px;
    left: 1047px;
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  .logo-child {
    position: relative;
    background-color: #d9d9d9;
    width: 144px;
    height: 63px;
  }
  .logo {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .beranda {
    position: relative;
    font-weight: 600;
    cursor: pointer;
  }
  .menu {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-size: var(--bodytitle-size);
  }
  .header,
  .landing {
    background-color: var(--color-snow);
    overflow: hidden;
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 1512px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-7xl) var(--padding-37xl);
    box-sizing: border-box;
  }
  .landing {
    position: relative;
    width: 100%;
    height: 5072px;
    text-align: left;
    font-size: var(--title-size);
    color: var(--color-black);
    font-family: var(--bodytitle);
  }
  